/* Basic styling*/
:root {
  font-family: monospace;
}

* {
  color: rgb(185, 185, 185);
  font-size: 2rem;
  background-color: #000000;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100vh;
}

/* Sidebar / Background-Image */

.background-image {
  background-image: url(../images/seattle.png);
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  display: flex;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

img {
  width: 125px;
  background: transparent;
  height: 140px;
}

/* Main part*/

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 25px;
}

.caption {
  display: flex;
  font-size: 2.5rem;
  flex-flow: row wrap;
  width: 60vw;
}

p {
  padding: 2px;
}

em {
  font-style: italic;
}

/* Form */

.form {
  display: flex;
  flex-flow: row wrap;
  width: 60vw;
  gap: 5px;
  background-color: rgb(6, 6, 6);
  box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
}

.form-title {
  width: 100%;
  font-weight: 500;
  font-size: 2.5rem;
  padding-bottom: 25px;
}

.input {
  display: flex;
  flex-flow: column wrap;
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 50%;
  width: 25vw;
}

input {
  background-color: rgb(2, 2, 2);
  border: 1px solid rgb(77, 77, 77);
  border-radius: 3px;
  height: 2.5rem;
  font-size: 1.5rem;
}

span {
  padding-top: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: 2px solid var(#20d2f4);
}

button {
  margin: 25px 0;
  padding: 4px;
  background-color: #0f5c11;
  border: 1px;
  border-radius: 6px;
}

button:hover {
  background-color: #266c28;
}

.login {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-flow: column;
    height: auto;
    text-align: center;
  }
  .picture {
    width: 100vw;
    height: 15vh;
    display: flex;
    background-size: 100vw;
  }
  .logo {
    width: 100vw;
    position: static;
    gap: 10px;
  }
  .right {
    width: auto;
    height: auto;
  }
  .dummy-text {
    width: auto;
    margin-top: 30px;
  }
  .left {
    padding: 10px 20px;
  }
  .remote-text {
    padding: 20px 0;
    margin: 0;
  }
  .form {
    flex-flow: column nowrap;
    align-items: center;
  }
  .input {
    text-align: left;
    width: auto;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
  }
  input {
    font-size: 0.9rem;
    height: 1.5rem;
    width: 70vw;
  }
  .button,
  .log-in {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  button {
    margin-bottom: 0px;
    width: 60vw;
    padding: 10px 5px;
  }
}
