.logo {
	width: 40%;
	height: 100vh;
	background-image: url("./unsplash.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo .logo-content {
	width: 50%;
	height: 220px;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	color: #fff;
	transform: translate(-50%, -50%);
	top: 40%;
	left: 15%;
	background: #0000008d;
}

img {
	height: 200px;
}

.logo span {
	font-size: 80px;
	font-weight: 400;
	padding: 20px;
}
